In [25]:
# Importing the libraries
import pandas as pd 
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import  train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [26]:
# Importing the dataset
f =pd.read_csv('G:\Data Sets\germanCredit.data',delim_whitespace = True ,header = None)
f.columns=['Current_Account' , 'Duration_in_month', 'Credit_History' , 'Purpose' , 'Credit_Amount' , 'Saving_Account', 'Present_Employment' , 'Instalment_Rate' , 'Status', 'Debtors', 'Residence','Property', 'Age', 'Installment_Plan', 'Housing' , 'Credits_at_bank', 'Job', 'Maintenance' , 'Telephone', 'Foreign_workers', 'Credit_Card_Approval']
f.head(n=1)

,Current_Account,Duration_in_month,Credit_History,Purpose,Credit_Amount,Saving_Account,Present_Employment,Instalment_Rate,Status,Debtors,...,Property,Age,Installment_Plan,Housing,Credits_at_bank,Job,Maintenance,Telephone,Foreign_workers,Credit_Card_Approval
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1

In [27]:
# Describing the data
f.describe()

,Duration_in_month,Credit_Amount,Instalment_Rate,Residence,Age,Credits_at_bank,Maintenance,Credit_Card_Approval
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,2.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

In [28]:
#info of the data
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
Current_Account         1000 non-null object
Duration_in_month       1000 non-null int64
Credit_History          1000 non-null object
Purpose                 1000 non-null object
Credit_Amount           1000 non-null int64
Saving_Account          1000 non-null object
Present_Employment      1000 non-null object
Instalment_Rate         1000 non-null int64
Status                  1000 non-null object
Debtors                 1000 non-null object
Residence               1000 non-null int64
Property                1000 non-null object
Age                     1000 non-null int64
Installment_Plan        1000 non-null object
Housing                 1000 non-null object
Credits_at_bank         1000 non-null int64
Job                     1000 non-null object
Maintenance             1000 non-null int64
Telephone               1000 non-null object
Foreign_workers         1000 non-null object
Credit_Card_Approval    1000 non-null int64
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [29]:
#Corelation between the attributes
f.corr(method = 'pearson')

,Duration_in_month,Credit_Amount,Instalment_Rate,Residence,Age,Credits_at_bank,Maintenance,Credit_Card_Approval
Duration_in_month,1.000000,0.624984,0.074749,0.034067,-0.036136,-0.011284,-0.023834,0.214927
Credit_Amount,0.624984,1.000000,-0.271316,0.028926,0.032716,0.020795,0.017142,0.154739
Instalment_Rate,0.074749,-0.271316,1.000000,0.049302,0.058266,0.021669,-0.071207,0.072404
Residence,0.034067,0.028926,0.049302,1.000000,0.266419,0.089625,0.042643,0.002967
Age,-0.036136,0.032716,0.058266,0.266419,1.000000,0.149254,0.118201,-0.091127
Credits_at_bank,-0.011284,0.020795,0.021669,0.089625,0.149254,1.000000,0.109667,-0.045732
Maintenance,-0.023834,0.017142,-0.071207,0.042643,0.118201,0.109667,1.000000,-0.003015
Credit_Card_Approval,0.214927,0.154739,0.072404,0.002967,-0.091127,-0.045732,-0.003015,1.000000

In [30]:
# Dividing the data into Feature and Label
x=f.iloc[:,:21].values
x[1:2]

array([['A12', 48, 'A32', 'A43', 5951, 'A61', 'A73', 2, 'A92', 'A101', 2,
        'A121', 22, 'A143', 'A152', 1, 'A173', 1, 'A191', 'A201', 2]],
      dtype=object)

In [31]:
# Converting the given data into binaryform using labelecoder
le = LabelEncoder()
x[:,0]= le.fit_transform(x[:,0])
x[:,2]= le.fit_transform(x[:,2])
x[:,3]= le.fit_transform(x[:,3])
x[:,5]= le.fit_transform(x[:,5])
x[:,6]= le.fit_transform(x[:,6])
x[:,8]= le.fit_transform(x[:,8])
x[:,9]= le.fit_transform(x[:,9])
x[:,11]= le.fit_transform(x[:,11])
x[:,13]= le.fit_transform(x[:,13])
x[:,14]= le.fit_transform(x[:,14])
x[:,16]= le.fit_transform(x[:,16])
x[:,18]= le.fit_transform(x[:,18])
x[:,19]= le.fit_transform(x[:,19])
x[1:2]

array([[1, 48, 2, 4, 5951, 0, 2, 2, 1, 0, 2, 0, 22, 2, 1, 1, 2, 1, 0, 0,
        2]], dtype=object)

In [32]:
#Importing the data into feature variable and label variable
X = x
Y = f.Credit_Card_Approval

In [33]:
# Splitting the given data
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3)

In [34]:
#calling the function and fitting the data [GRADIENT BOOSTING CLASSIFIER]
gb = GradientBoostingClassifier()
t = gb.fit(x_train,y_train)
y_pred1 = gb.predict(x_test)
print(accuracy_score(y_test , y_pred1)*100)

100.0

In [35]:
#calling the function and fitting the data [NAIVE BAYES CLASSIFIER]
xb = GaussianNB()
t = xb.fit(x_train,y_train)

In [36]:
#Predicting the output
y_pred = xb.predict(x_test)

#Accuracy of the output
print(accuracy_score(y_test,y_pred)*100)

100.0

In [37]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00       223
          2       1.00      1.00      1.00        77

avg / total       1.00      1.00      1.00       300

In [38]:
print(classification_report(y_test ,y_pred1))

             precision    recall  f1-score   support

          1       1.00      1.00      1.00       223
          2       1.00      1.00      1.00        77

avg / total       1.00      1.00      1.00       300