In [2]:
# importing the libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [3]:
# Default Payments data set
z = pd.read_excel('G:\Data Sets\default_of_creditcard_clients.xls')
z.head(n=2)
z = z.drop(z.index[[0]])
z.head(n=2)
z.shape

(30000, 24)

In [3]:
#Describing the dataset
z.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,...,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,81,2,7,4,56,11,11,11,11,10,...,21548,21010,20604,7943,7899,7518,6937,6897,6939,2
top,50000,2,2,2,29,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,3365,18112,14030,15964,1605,14737,15730,15764,16455,16947,...,3195,3506,4020,5249,5396,5968,6408,6703,7173,23364

In [4]:
# Info of the dataset
z.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
X1     30000 non-null object
X2     30000 non-null object
X3     30000 non-null object
X4     30000 non-null object
X5     30000 non-null object
X6     30000 non-null object
X7     30000 non-null object
X8     30000 non-null object
X9     30000 non-null object
X10    30000 non-null object
X11    30000 non-null object
X12    30000 non-null object
X13    30000 non-null object
X14    30000 non-null object
X15    30000 non-null object
X16    30000 non-null object
X17    30000 non-null object
X18    30000 non-null object
X19    30000 non-null object
X20    30000 non-null object
X21    30000 non-null object
X22    30000 non-null object
X23    30000 non-null object
Y      30000 non-null object
dtypes: object(24)
memory usage: 5.7+ MB

In [6]:
# Correlation between attributes
z.corr(method= 'pearson')

Empty DataFrame
Columns: []
Index: []

In [7]:
# Importing the data into feature and label variables
x = z.drop(['Y'],axis = 1)
y = z.Y
y = y.astype('int')

In [8]:
#splitting the data into training and test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [9]:
#fitting the model
LOR=LogisticRegression()
F=LOR.fit(x_train,y_train)

In [10]:
#predicting the test data
y_pred=LOR.predict(x_test)

In [11]:
#Accuracy of the result
print(accuracy_score(y_test,y_pred)*100)

78.45555555555556

In [12]:
# Classification report 
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.78      1.00      0.88      7060
          1       1.00      0.00      0.00      1940

avg / total       0.83      0.78      0.69      9000