In [1]:
# Importing the libraries 
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

C:\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
C:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# Importing the Default payment dataset
z = pd.read_excel('G:\Data Sets\default_of_creditcard_clients.xls')
z = z.drop(z.index[[0]])
z.head(n=2)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1

In [3]:
# Describing the dataset
z.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000,...,30000,30000,30000,30000,30000,30000,30000,30000,30000,30000
unique,81,2,7,4,56,11,11,11,11,10,...,21548,21010,20604,7943,7899,7518,6937,6897,6939,2
top,50000,2,2,2,29,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,3365,18112,14030,15964,1605,14737,15730,15764,16455,16947,...,3195,3506,4020,5249,5396,5968,6408,6703,7173,23364

In [4]:
# Info of the dataset
z.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
X1     30000 non-null object
X2     30000 non-null object
X3     30000 non-null object
X4     30000 non-null object
X5     30000 non-null object
X6     30000 non-null object
X7     30000 non-null object
X8     30000 non-null object
X9     30000 non-null object
X10    30000 non-null object
X11    30000 non-null object
X12    30000 non-null object
X13    30000 non-null object
X14    30000 non-null object
X15    30000 non-null object
X16    30000 non-null object
X17    30000 non-null object
X18    30000 non-null object
X19    30000 non-null object
X20    30000 non-null object
X21    30000 non-null object
X22    30000 non-null object
X23    30000 non-null object
Y      30000 non-null object
dtypes: object(24)
memory usage: 5.7+ MB

In [5]:
# Correlation between the attributes
z.corr(method = 'pearson')

Empty DataFrame
Columns: []
Index: []

In [6]:
# Assigning the feature and label data into variables
x = z.drop(['Y'],axis =1)
y = z.Y
y = y.astype('float32')

In [7]:
# Splitting the data into training and test set
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.3)

In [8]:
# calling the function 
Classifier = Sequential()

# Creating the layers with neurons and activation function
layer_1 = Classifier.add(Dense(20,kernel_initializer = 'uniform', activation = 'relu' ,input_dim = 23 ))
layer_2 = Classifier.add(Dense(20,kernel_initializer ='uniform' , activation = 'relu'))
layer_3  = Classifier.add(Dense(10,kernel_initializer = 'uniform',activation = 'relu'))
layer_out = Classifier.add(Dense(1, kernel_initializer = 'uniform' , activation = 'sigmoid'))

In [9]:
# Optimization of loss function using adam optimizer 
opt = Classifier.compile(optimizer = 'adam' , loss = 'binary_crossentropy' , metrics = ['accuracy'])

In [10]:
# Fitting the training data through model
fitting = Classifier.fit(x_train , y_train ,batch_size =150 ,epochs = 100)

Epoch 1/10
21000/21000 [==============================] - 2s 78us/step - loss: 0.5487 - acc: 0.7730
Epoch 2/10
21000/21000 [==============================] - 0s 16us/step - loss: 0.5217 - acc: 0.7798
Epoch 3/10
21000/21000 [==============================] - 0s 17us/step - loss: 0.5138 - acc: 0.7797
Epoch 4/10
21000/21000 [==============================] - 0s 17us/step - loss: 0.5115 - acc: 0.7798
Epoch 5/10
21000/21000 [==============================] - 0s 16us/step - loss: 0.5081 - acc: 0.7798
Epoch 6/10
21000/21000 [==============================] - 0s 17us/step - loss: 0.5070 - acc: 0.7797
Epoch 7/10
21000/21000 [==============================] - 0s 18us/step - loss: 0.5040 - acc: 0.7797
Epoch 8/10
21000/21000 [==============================] - 0s 16us/step - loss: 0.5032 - acc: 0.7797
Epoch 9/10
21000/21000 [==============================] - 0s 17us/step - loss: 0.5019 - acc: 0.7799
Epoch 10/10
21000/21000 [==============================] - 1s 26us/step - loss: 0.5012 - acc: 0.7798

In [11]:
# predicting the test data
y_pred = Classifier.predict(x_test)

In [13]:
# Accuracy of the output 
print(accuracy_score(y_test,y_pred.round(),normalize = True)*100)

77.65555555555555

In [14]:
from keras.metrics import binary_accuracy
print(binary_accuracy(y_test,y_pred))

Tensor("Mean:0", shape=(9000,), dtype=float32)